
a:hover {
    background-color: #F0FFFF;
}

a {
    color: #0033cc;
}



.five-p {
    text-align: center;
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
}

.sixteen-p {
    text-align: center;
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
}

.seventeen-p {
    text-align: center;
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
}

.map-p {
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
}

.five {
    padding: 40px;
    border: 1px solid #ffcc00;
}

.sixteen {
    padding: 40px;
    border: 1px solid #ffcc00;
}

.seventeen {
    padding: 40px;
    border: 1px solid #ffcc00;
}

.home-button {
    padding: 40px;
    border: 1px solid #ffcc00;
}
.aligner {
    font-family: Arial;
    text-align: center;
    font-weight: bold;
}

.container-home {
    /* background-color: moccasin; */
    width: 100vw;
    min-height: 100vh;
}

.home-roscoe {
    text-align: start;
}
/*------------------------------------------ Above is the styling for the home page -------------------------------------------------------*/
.lot16-p {
    text-align: center;
    color: cornflowerblue;
    font-family: Arial;
}

.lot16-a {
    text-align: center;
}

/*------------------------------------------ Above is the styling for the lot16 page -------------------------------------------------------*/


.lot5-p {
    text-align: center;
    color: indigo;
    font-family: Arial;
    font-weight: bold;
}

.lot5-a {
    text-align: center;
}

/*------------------------------------------ Above is the styling for the lot5 page -------------------------------------------------------*/

.lot17-p {
    text-align: center;
    color: indigo;
    font-family: Arial;
}

.lot17-a {
    text-align: center;
}

/*------------------------------------------ Above is the styling for the lot17 page -------------------------------------------------------*/

.map-home-a {
    text-align: center;
}

.map-image-p {
    text-align: center;
}

/*------------------------------------------ Above is the styling for the map page -------------------------------------------------------*/



table {
    border: 1px solid black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

td {
    border: 1px solid black;
    height: 50px;
}

th {
    border: 1px solid black;
    height: 50px;
    background-color: #DDA0DD;
    color: #FDF5E6;
    font-size: 20px;
}

.slot{
    color: red;
}