<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
</head>
<body>
    <div class ="container-home">
        <div class="lot16">
            <h1 class="lot16-p"> ParkTCNJ is trying it's very best to bring this lot to the app ! </h1>
            <h2 class="lot16-p">  We appreciate your patience with us  </h2>
        </div>

        <div class="home17">
            <p class="lot16-a">
                <a href="{{ url_for('home') }}">Check out other lots</a>
            </p>
        </div>
    </div>

</body>
</html>